---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon";
---

<div title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Contacto</Fragment>
    </Sectionhead>
    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">Contactos</h2>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" /><a
              href="https://www.bing.com/maps?mepi=0%7EDirections%7EUnknown%7EDirection_Button&ty=0&rtp=pos.9.856061935424805_-84.08806610107422__CTP+de+Aserr%C3%AD__e_%7E&mode=d&v=2&sV=1&cp=9.856045%7E-84.088069&lvl=14.5"
              >CTP de Aserrí</a
            >
          </div>
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a
              href="mailto:ctp.deaserri@mep.go.cr"
              >ctp.deaserri@mep.go.cr</a
            >
          </div>
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:phone" /><a
              href="tel:+506 72486424">+506 72486424</a
            >
          </div>
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:instagram" /><a
              href="https://instagram.com/ctpaserri">ctpaserri</a
            >
          </div>
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:facebook" /><a
              href="https://www.facebook.com/CTPDEASERRI">CTP de Aserrí</a
            >
          </div>
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</div>
