---
// @ts-ignore
import { Icon } from "astro-icon";
import battery from "../assets/battery.png";
import { Picture } from "@astrojs/image/components";
import screen from "../assets/screen.jpg";
import keyboard from "../assets/keyboard.png";
import fix from "../assets/fix.png";
import core from "../assets/core.webp";
import wifi from "../assets/WiFi-Emblem.png";

const features = [
  {
    title: "Batería de larga duración",
    description:
      "Su batería de 6 celdas te permitirá disfrutar de hasta 6 horas de uso continuo sin necesidad de estar conectado a la corriente eléctrica. Además, cuenta con un sistema de carga rápida que te permitirá cargarla en menos tiempo.",
    icon: "bx:bxs-briefcase",
    image: battery,
  },
  {
    title: "Pantalla de 15.6 pulgadas",
    description:
      "La pantalla de 15.6 pulgadas es ideal para ver películas, series, jugar videojuegos, trabajar, estudiar, etc. Además, cuenta con una resolución HD de 1366 x 768 píxeles que te permitirá disfrutar de una excelente calidad de imagen.",
    icon: "bx:bxs-window-alt",
    image: screen,
  },
  {
    title: "Teclado",
    description:
      "Su teclado compacto es fundamental para que puedas escribir con comodidad y rapidez. Además, de su diseño ergonómico que permite una mejor postura de las manos y muñecas.",
    icon: "bx:bxs-data",
    image: keyboard,

  },
  {
    title: "Facil de reparar",
    description:
      "Este modelo cuenta con un diseño que permite un fácil acceso a los componentes internos, lo que facilita su reparación.",
    icon: "bx:bxs-bot",
    image: fix,
  },
  {
    title: "Procesador Intel Core i3",
    description:
      "Este procesador es ideal para realizar tareas básicas como navegar por Internet, ver películas, escuchar música, editar documentos, etc.",
    icon: "bx:bxs-file-find",
    image: core,
  },
  {
    title: "Conectividad",
    description:
      "La conectividad es una de las características más importantes de una computadora portátil, ya que es lo que nos permite conectarnos a Internet y a otros dispositivos. ",
    icon: "bx:bxs-user",
    image: wifi,
  },
];
---

<div class="mt-16 md:mt-0" id="description">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight" >
    Todo lo que necesitas en una computadora portátil.
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    La unidad mas vendida de la marca, con un diseño elegante y moderno, Toshiba
    presenta su modelo Satellite C55-A5105.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <details>
            <summary class="font-semibold text-lg cursor-pointer">
              {item.title}
            </summary>
            <p class="text-slate-500 mt-2 leading-relaxed">
              {item.description}
            </p>
            <Picture
              class="mt-4"
              alt="item.title"
              src={item.image}
              widths={[300]}
              loading="lazy"
              format="avif"
            />
          </details>
        </div>
      </div>
      ))
    }
</div>
